[submodule "envs/kcni-school-envs"]
	path = envs/kcni-school-envs
	url = https://github.com/edickie/kcni-school-envs
[submodule "day2/kcni_summer"]
	path = day3/kcni_summer
	url = https://github.com/stripathy/kcni_summer.git
[submodule "day4/Toolboxes/SPM12"]
	path = day6/Toolboxes/SPM12
	url = https://github.com/spm/spm12
[submodule "day2/Model-Evaluation-Activity"]
	path = day2/Model-Evaluation-Activity
	url = https://github.com/mmaslej/Model-Evaluation-Activity.git
[submodule "day1/example-python-repo"]
	path = day1/example-python-repo
	url = https://github.com/krembilneuroinformatics/example-python-repo.git
[submodule "day1/example-r-repo"]
	path = day1/example-r-repo
	url = https://github.com/krembilneuroinformatics/example-r-repo.git
[submodule "day3/kcni-summer-school-day-3"]
	path = day3/kcni-summer-school-day-3
	url = https://github.com/keon-arbabi/kcni-summer-school-day-3.git
[submodule "envs/binder-jupyter-school"]
	path = envs/binder-jupyter-school
	url = https://github.com/krembilneuroinformatics/binder-jupyter-school.git
[submodule "day7/synapseTutorials"]
	path = day7/synapseTutorials
	url = https://github.com/apratap/synapseTutorials.git
